extends ../layouts/layout.pug

block content
  .row.align-items-center#fill-view.justify-content-center
    .col.text-center
      h2 Dashboard
      .list-group.d-inline-flex
        a(href='/admin/invite-user').list-group-item.list-group-item-action
          i.fa.fa-user-plus.mr-2
          span Invite User
        a(href='/admin/user/list').list-group-item.list-group-item-action
          i.fa.fa-vcard.mr-2
          span User List
        if status == 'root'
          a(href='/root/settings').list-group-item.list-group-item-action
            i.fa.fa-wrench.mr-2
            span Settings
          a(href='/gateway/sync-problems').list-group-item.list-group-item-action.danger
            i.fa.fa-refresh.mr-2
            span Sync Problems
