extends ../layouts/layout.pug

block content
  .row.align-items-center#fill-view.justify-content-center
    .col-3.text-center
      h2 Dashboard
      .list-group
        a(href='/admin/invite-user').list-group-item.list-group-item-action.d-inline-flex.justify-content-between
          span Invite User
          i.fa.fa-user-plus
