extends ../layouts/layout.pug

block content
  .row.flex-items-xs-middle#fill-view
    .offset-sm-3.col-sm-6.text-center
      h2 Dashboard
      .list-group
        a(href='/admin/invite-user').list-group-item.list-group-item-action
          .d-inline-flex.justify-content-start
            span Invite User
            i.fa.fa-user-plus
