footer.text-xs-center.small.text-muted
  p &copy; 2016-2017 #[a(href="https://github.com/forthright48") Mohammad Samiul Islam] All Rights Reserved. #[a(href="mailto:forthright48@gmail.com") Contact Me].
