.row
  .any.items.u-text-center
    h1 CPPS

//Navbar
.row
  .twelve.items
    ul.nav
      li
        a(href="/") Home
      li.dropdown
        a.dropbtn(href='/notebook') Notebook
        ul.dropdown-content
          li
            a(href='/notebook/recent') Recent
      li
        a(href='/gateway') Gateway
      li
        a(href='/faq') FAQ
      li
        a(href='/bugsandhugs') Bugs & Hugs
      if login
        li.navitem-pullright
          a(href='/user/logout') Logout
      else
        li.navitem-pullright
          a(href='/user/login') Login
