h1.text-center CPPS

.row.mb-2
  .col.d-inline-flex.justify-content-between.nav-tabs
    ul.nav
      li.nav-item
        a.nav-link(href='/') #[i.fa.fa-home] Home
      li.nav-item.dropdown.d-inline-flex
        .nav-item
          a.nav-link(href='/notebook') Notebook
        .nav-item
          a.nav-link(data-toggle='dropdown', href='#') &nbsp;#[i.fa.fa-caret-down]
          .dropdown-menu
            a.dropdown-item(href='/notebook/recent') Recent
      li.nav-item.dropdown.d-inline-flex
        .nav-item
          a.nav-link(href='/gateway') Gateway
        .nav-item
          a.nav-link(data-toggle='dropdown', href='#') &nbsp;#[i.fa.fa-caret-down]
          .dropdown-menu
            a.dropdown-item(href='/gateway/recent') Recent
            a.dropdown-item(href='/gateway/leaderboard') Leaderboard
            a.dropdown-item(href='/gateway/search-problem') Search Problem
            a.dropdown-item(href='/gateway/random-problem') Random Problem
      li.nav-item
        a.nav-link(href='/faq') FAQ
      li.nav-item
        a.nav-link(href='/bugsandhugs') Bugs & Hugs

    ul.nav
      if (login)
        if (superUser)
          li.nav-item
            a.nav-link(href='/coach') #[i.fa.fa-dashboard] Dashboard
          li.nav-item
            a.nav-link(href='/admin/dashboard') #[i.fa.fa-user-secret] Admin
        li.nav-item
          a.nav-link(href=`/users/profile/${username}`) #[i.fa.fa-user] Profile
        li.nav-item
          a.nav-link(href='/user/logout') #[i.fa.fa-sign-out] Logout
      else
        li.nav-item
          a.nav-link(href='/user/login') #[i.fa.fa-sign-in] Login
