extends ../layouts/layout.pug

block content
  .row#fill-view
    .col-xs
      if ( status === 'root' )
        .text-xs-center.small
          a(href=`/gateway/edit-item/${item._id}`) #[i.fa.fa-edit] Edit
      .text-xs-center.small
        a(href=`/gateway/get-children/${item.parentId}`) #[i.fa.fa-level-up] Go Up
      .markdown-body.
        <h1> #{item.title} - Hints </h1>
        !{item.body}
