doctype 5
html
  head
    title CPPS

    link(rel="stylesheet", href="/scss/main.css", media="screen", title="no title", charset="utf-8")

    block head

  body
    .container
      include ../partials/header.pug

      block content

      include ../partials/footer.pug

    script.
      var flash = !{flash};
    script(src='/js/vendor/vendor.min.js')
    script(src='/js/layout/index.js')

    block scripts
