doctype html
html(lang='en')
  head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-65362633-3")
    script.
      if (document.location.hostname.search("localhost") === -1) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-65362633-3');
      }
    title CPPS

    link(rel="stylesheet", href="/scss/main.css", media="screen", title="no title", charset="utf-8")

    script(type='text/x-mathjax-config').
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    script(type='text/javascript', src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")

  block head

  body
    .container
      include ../partials/header.pug

      .px-2
        block content

      include ../partials/footer.pug

    script.
      var flash = !{flash};
    script(src='/js/vendor/vendor.min.js')
    script(src='/js/layout/index.min.js')

    block scripts
