doctype 5
html
  head
    title CPPS
    block head
      link(rel="stylesheet", href="/public/css/all.css", media="screen", title="no title", charset="utf-8")
  body
    .container
      include ../partials/header.pug

      block content

      include ../partials/footer.pug

    block scripts
