extends ../layouts/layout.pug

block content
  .row.flex-items-xs-middle#fill-view.m-b-1
    .col-xs.text-xs-center
      h3 Add New Note
      form(action='/notebook/add-note', method='post')
        .form-group
          label(for='title') Title
          input.form-control(id='title', name='title',type='text',required, value=title)
        .form-group
          label(for='slug') Slug
          input.form-control(id='slug',name='slug',type='text', pattern='[a-z0-9\-]+', title='Small letters, digits and hyphens only',required, value=slug)
        .form-group
          label(for='body') Body
          textarea.form-control(id='body',name='body')= body
        input.btn.btn-primary(type='submit', value='Insert')
        a.btn.btn-secondary.m-l-1(href='/notebook') Cancel
