extends ../layouts/layout.pug

block content
  .row#fill-view
    .col-sm
      if ( superUser )
        .text-xs-center
          a(href='/notebook/add-note') #[i.fa.fa-plus] Add
          a.m-l-1(href=`/notebook/edit-note/${note.slug}`) #[i.fa.fa-edit] Edit

      .markdown-body.
        <h1> #{note.title} </h1>
        !{note.body}
