extends ../layouts/layout.pug

block content
  .row.u-flex
    .any.items
      if ( status === 'root' )
        .u-text-center
          a(href='/notebook/add-note') #[i.fa.fa-plus] Add
          a.left-margin(href=`/notebook/edit-note/${note.slug}`) #[i.fa.fa-edit] Edit

      .markdown-body.
        <h1> #{note.title} </h1>
        !{note.body}
