extends ../layouts/layout.pug

block content
  .row.align-items-center.justify-content-center#fill-view
    .col.text-center
      h3 Profile Page
      ul.list-group.d-inline-flex
        .list-group-item
          i.fa.fa-envelope.mr-2
          span= email
        .list-group-item
          i.fa.fa-key.mr-2
          a(href='/user/profile/change-password') Change Password
        .list-group-item
          i.fa.fa-users.mr-2
          span= status[0].toUpperCase() + status.slice(1)
