extends ../layouts/layout.pug

block content
  .row.align-items-center#fill-view
    .offset-sm-3.col-sm-6.text-center
      .alert.alert-info.m-b-3 You have to verify your email address before proceeding.
      h3 Enter Verification Code
      form(action='/user/verify', method='post')
        .form-group
          label(for='code') Code
          input.form-control( id='code', name='code', type='text', maxlength=256, required)
        input.btn.btn-primary(type='submit', value='Verify')
      small Did not receive your verification code? Click <a href='/user/send-code'>here</a>.
