extends ../layouts/layout.pug

block content
  .row.flex-items-xs-middle.text-center#fill-view
    .col-xs
      h3 Bugs & Hugs

      p If you find any kind of bug/mistake anywhere on the site, please kindly open an issue on <a href='https://github.com/forthright48/cpps/issues'>Github</a>. If possible, please check whether any similar issue is already open or not.

      p For hugs, feel free to send them in any way you want :)
