extends ../layouts/layout.pug

block content
  .row.align-items-center.text-center#fill-view
    .col
      p A minimalistic portal for all about competitive programming and problem solving.
      p Checkout <a href='/notebook'>Notebook</a> for theories and <a href='/gateway'> Gateway </a> for practice problems.
