extends ../layouts/layout.pug

block content
  .row.flex-items-xs-middle.text-xs-center(style='min-height:80vh;')
    .col-xs
      p A minimalistic portal for all about competitive programming and problem solving.
      p Checkout <a href='/notbook'>Notebook</a> for theories and <a href='/gateway'> Gateway </a> for practice problems.
