.recaptcha div {
  margin-left: auto;
  margin-right: auto;
}

textarea {
  height: 50rem;
  resize: none;
}

.table-cell-center td, .table-cell-center th {
  text-align: center;
  vertical-align: middle;
}

.list-group-item:hover {
  color: #292b2c;
  background-color: #eceeef;
}

.debug {
  border: 1px red solid;
}
